body{
    background-image: url("https://wallpaperplay.com/walls/full/c/7/2/29941.jpg");
    background-color: #3E629A;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
	position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 30%;
     height: 80%;
     text-align: center;
     background-color: #4DB3FF;
     box-shadow: 3px 3px 5px 6px #223C73;
     border-radius: 15px;
}


button{
    background-color: white;
    color: rgb(30, 144, 255);
    border: none;
    border-radius: 15px;
}

#removeButton{
	margin-left: 2px;
	width: 6%;
	height: 6%;
	background-color: darkred;
	color: white;
	border: none;
	border-radius:15px;
	text-align: center;

}

input{
	width: 80%;
}
